
body {
    background-color: #f9fafb !important;
    overflow: hidden scroll !important;
}

html {
    background-color: #f9fafb !important;
}

body {
    overflow: hidden scroll;
}

.wtdv1 {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 42px 96px;
    box-shadow: 0 8px 24px rgba(174,174,187,0.16);
}

.wtdv2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}

.wtdv2-dvv {
    border: 1px solid #54d4f2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wtdv2-dvv1 {
    width: 12px;
    height: 12px;
}

.wtdv2-dvv2 {
    width: 20px;
    height: 20px;
}

.wtdv2-dvv3 {
    width: 28px;
    height: 28px;
}

.wtdv2-dvv4 {
    width: 36px;
    height: 36px;
}

.wtdv2-dvv5 {
    width: 44px;
    height: 44px;
}

.wtdv2-dvv6 {
    width: 52px;
    height: 52px;
}

.wtdv2-dvv7 {
    width: 60px;
    height: 60px;
}

.wtdv2-dvv8 {
    width: 68px;
    height: 68px;
}

.wtdv2-svg {
    animation-name: dotted-anim;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes dotted-anim {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.wtdv3 {
    align-items: center;
    display: flex;
    margin: 0 calc((16px)*-1);
    flex-wrap: wrap;
}

.wtdv3-dv1 {
    width: 41.6666666667%;
    flex: 0 0 41.6666666667%;
    padding: 0 16px;
}

.wtdv3-dv2 {
    width: 58.3333333333%;
    flex: 0 0 58.3333333333%;
    padding: 0 16px;
}

.wtdv3-dv1-h2 {
    letter-spacing: -1.14px;
    margin-bottom: 23px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 0;
    color: #333e63;
}

.wtdv3-dv1-p {
    margin-bottom: 29px;
    font-size: 21px;
    line-height: 1.52;
    letter-spacing: -.1px;
    color: #7a829a;
    margin-top: 0;
}

.wtdv3-dv1-a {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px 24px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .84px;
    text-transform: uppercase;
    font-weight: 700;
    transition: border-color .2s,background-color .2s,color .2s,opacity .2s;
    width: 340px;
    background-color: #f2fcfe;
    border: 2px solid transparent;
    color: #54d4f2;
    box-shadow: none;
    min-height: 56px;
    min-width: 178px;
}

    .wtdv3-dv1-a:hover {
        opacity: 0.7;
        color: #54d4f2;
    }

    .wtdv3-dv1-a:focus {
        color: #54d4f2;
    }

.wtdv3-dv2-img {
    position: relative;
    top: -31px;
    left: 64px;
    width: 480px;
    height: auto;
}

#login#login#login#login#login {
    margin-top: 0 !important;
}

.wtmcst {
    margin: 12% auto 5%;
}

#divLoader {
    width: 60px;
    height: 60px;
    border-radius: 150px;
    border: 3px solid #333e63;
    border-top-color: #eee;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -30px;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}
