
@media (max-width: 650px) {
    #content-header#content-header.cstm-hdrrr .navbar {
        padding: 0 10px;
    }
    #content-header#content-header.cstm-hdrrr .navbar-text a img {
        margin-top: 4px;
    }
    .sgndv1-1 {
        padding: 50px;
        text-align: center;
    }
    .sgndv2-1.sgndv2-1 {
        padding: 50px;
    }
    .dvmmbw.dvmmbw {
        margin-top: 100px !important;
    }
    .kldkc.kldkc {
        margin: -32px 0 0 -32px;
    }
    .mbvwjcc {
        margin-top: 25% !important;
    }
    .dv1 h3 {
        font-size: 24px;
    }
    .dv2 .dv2cstma {
        width: 80%;
        margin: 0 auto 30px;
    }
    .wtmcst {
        margin-top: 26%;
    }
    .wtdv2 {
        display: none;
    }
    .wtdv1 {
        padding: 42px;
    }
    .wtdv3 {
        display: block;
    }
    .wtdv3-dv1 {
        width: auto;
        flex: auto;
    }
    .wtdv3-dv2 {
        display: none;
    }
    .wtdv3-dv1-h2 {
        font-size: 30px;
    }
    .mbvwdspblk {
        display: block;
    }
    .wtdv3-dv1-a {
        width: auto;
    }
    .wtdv3-dv1-btn {
        width: auto;
        margin-top: 15px;
    }
    .mbvw-dspn {
        display: none;
    }
    .bck-btn-mbw {
        margin-top: -50px;
        margin-bottom: 70px;
    }
    .dspdsktp-n.dspdsktp-n {
        display: flex !important;
    }
    .cs-pdng.cs-pdng {
        padding: 5rem 1rem 5rem !important;
    }
    .wdth-ipdwvw-cs, .wdth-ipdwvw-csdvd {
        width: auto !important;
    }
    .kmcs_h1.kmcs_h1 {
        font-size: 24px;
        padding-right: 30px;
    }
    .kmcs_p.kmcs_p {
        font-size: 16px;
        margin-top: 0 !important;
    }
    .wdth-ipdwvw-csdvd22.wdth-ipdwvw-csdvd22 .kmcs_p.kmcs_p {
        font-size: 14px;
        margin-top: 0 !important;
        padding-right: 40px;
    }
    .dshbrd-dvv1 .col-sm-10 {
        width: 70%;
        display: block;
    }
    .dshbrd-dvv1 .col-sm-2 {
        width: 30%;
    }
    #stftabl .table, #stftabl .table thead, #stftabl .table tbody, #stftabl .table th, #stftabl .table td, #stftabl .table tr {
        display: block;
    }
    #stftabl .table thead tr, #stftabl .table tbody tr {
        display: flex;
    }
    #stftabl .table thead tr th:nth-child(1), #stftabl .table tbody tr td:nth-child(1) {
        width: 20%;
    }
    #stftabl .table thead tr th:nth-child(2), #stftabl .table tbody tr td:nth-child(2) {
        width: 55%;
    }
    #stftabl .table thead tr th:nth-child(3), #stftabl .table tbody tr td:nth-child(3) {
        padding: 0;
    }
    #stftabl .table thead tr th:nth-child(4), #stftabl .table tbody tr td:nth-child(4) {
        padding: 0;
    }
    #stftabl .table thead tr th:nth-child(5), #stftabl .table tbody tr td:nth-child(5) {
        padding: 0;
    }
    #stftabl .table thead tr th:nth-child(6), #stftabl .table tbody tr td:nth-child(6) {
        width: 25%;
    }
    #stftabl .table {
        margin: 10px auto;
        width: 96%;
    }
    .mbvwpd.mbvwpd.mbvwpd.mbvwpd.mbvwpd.mbvwpd {
        padding-top: 5rem !important;
    }
    #survytbl .dshbrd-dvv1.dshbrd-dvv1 {
        padding-bottom: 15px !important ;
    }
    .dshbrd-dvv1-ul-li-a-mbvw {
        font-size: 10px !important;
    }
    .mbvw-ml0 {
        margin-left: 0 !important;
    }
    .mbvw-mr0 {
        margin-right: 0 !important;
    }
    /* .dshbrd-dvv1-ul.dshbrd-dvv1-ul {
        margin-bottom: 20px;
    } */
    .cstm-mrgn.cstm-mrgn {
        margin: 8px;
    }
    .mbvw-imgwd.mbvw-imgwd {
        background-repeat: no-repeat;
        background-position: right;
        background-size: 220px;
    }
    .mbvw-imgwd.mbvw-imgwd .wdth-ipdwvw-csdvd {
        min-height: auto !important;
    }
    .mbvw-mt3 {
        margin-top: 3rem !important;
    }
    .mblvwsvgg {
        height: 5rem !important;
    }
    .clsrmdv2-1-bg-img1.clsrmdv2-1-bg-img1 {
        width: 94%;
        height: 75%;
        border-radius: 3px;
        left: 8px;
    }
    .cstmbgerrr.cstmbgerrr.cstmbgerrr.cstmbgerrr {
        padding-top: 25% !important;
    }
    .cstmbgerrr.cstmbgerrr img {
        width: 250px !important;
    }
    .cstmwderrr.cstmwderrr {
        width: 50% !important;
    }
    .cstmmtmodal.cstmmtmodal {
        margin-top: 30% !important;
    }
    .ml-1-5rm.ml-1-5rm {
        margin-left: 0.5rem !important;
    }
    .modal.show .modal-dialog {
        margin-left: 10px;
        margin-right: 10px;
    }
    .infomdvmdl1 .col-sm-2 {
        width: 20%;
    }
    .infomdvmdl1 .col-sm-10 {
        width: 80%;
    }
    .infomdvmdl3 span:last-child {
        display: block;
    }
    .infomdvmdl3-txtara {
        resize: inherit !important;
        overflow: auto !important;
    }
    .prgrs-wd-cstm.prgrs-wd-cstm {
        width: 10%;
    }
    .table {
        height: 320px;
        overflow-y: auto;
    }
    .hdrbckbtnnnwddcs.hdrbckbtnnnwddcs {
        width: 23% !important;
    }
    .mbvw-hdrrcs.mbvw-hdrrcs {
        margin-top: -6px !important;
    }
    .srvydvvddv1.srvydvvddv1 {
        margin-left: 0;
        margin-top: 2%;
        width: 50%;
    }
    .srvydvvddv3.srvydvvddv3 {
        color: #333e63;
        font-family: Circular-Medium;
        font-size: 50px;
    }
    .srvydvvddv4.srvydvvddv4 {
        margin: 15px 0 0 10px;
    }
    .srvydvvddv4.srvydvvddv4 p.kmcs_p.kmcs_p {
        font-size: 13px;
    }
    .srvydvvddv5.srvydvvddv5 {
        font-size: 12px;
        margin-top: -6px;
    }
    #survytbl .dshbrd-dvv1-ul-li-a.dshbrd-dvv1-ul-li-a.dshbrd-dvv1-ul-li-a {
        margin-bottom: 20px;
    }
    .clsrmdv1.clsrmdv1 {
        margin: 0 0 10px;
    }
    #cstmtblfrschl#cstmtblfrschl.table.table.table {
        margin: 0;
        width: 100%;
    }
    #cstmtblfrschl#cstmtblfrschl.table thead tr th:nth-child(1), #cstmtblfrschl#cstmtblfrschl.table tbody tr td:nth-child(1) {
        width: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    #cstmtblfrschl#cstmtblfrschl.table thead tr th:nth-child(2), #cstmtblfrschl#cstmtblfrschl.table tbody tr td:nth-child(2) {
        width: 62%;
    }
    .srvdvvdvd1.srvdvvdvd1 {
        margin: 0;
    }
    .srvdvvdvspn.srvdvvdvspn {
        font-size: 10px;
    }
    .mt-cstmdrpdwnn.mt-cstmdrpdwnn {
        margin-top: 15px;
    }
}

@media (min-width: 780px) {
    table tbody {
        display: block;
        height: 255px;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;/* even columns width , fix width of table too*/
    }
    tbody tr td:nth-child(1) {
        width: 7%;
    }
    table.cstmtable2 thead tr th:nth-child(1) {
        width: 40%
    }
    table.cstmtable2 thead tr th:nth-child(2) {
        width: 20%
    }
    table.cstmtable2 thead tr th:nth-child(3) {
        width: 18%
    }
    table.cstmtable2 thead tr th:nth-child(4) {
        width: 14%
    }
    table.cstmtable2 tbody tr td:nth-child(1) {
        width: 40%;
        padding-left: 1.4rem !important;
    }
    table.cstmtable2 tbody tr td:nth-child(2) {
        width: 20%;
        padding-left: 1.4rem !important;
        position: relative;
    }
    table.cstmtable2 tbody tr td:nth-child(3) {
        width: 18%;
        padding-left: 1.7rem !important;
    }
    table.cstmtable2 tbody tr td:nth-child(4) {
        width: 14%;
        padding-left: 1.7rem !important;
    }
    .prgrs-wd-cstm {
        width: 55%;
    }
  }
  @media (min-width: 1150px) {
    .cstmtab-pane.tab-pane {
        padding: 1.2rem 7.8rem 0 8.8rem;
    }
  }