
.rsl-hdngh4 {
    font-family: 'Circular-Medium';
    color: #333e63;
    font-size: 20px;
    margin-bottom: 20px;
}
.brdrrdscstm.brdrrdscstm {
    border-radius: 10px !important;
}
.rslt-cstmpdb.rslt-cstmpdb {
    padding-bottom: 18px;
}
.rsl-cspdng {
    padding: 1.2rem 8rem 0 8rem !important;
}
.rslt-dvv {
    box-shadow: 0 2px 8px 0 rgb(18 52 102 / 10%);
    background-color: #fff;
    padding: 30px;
    border-radius: 3px;
}
.rsl-dv1 {
    position: absolute;
    left: 25px;
    height: 100px;
    top: 32px;
    width: 100px;
    text-align: center;
    font-size: 45px;
    font-family: 'Circular-Medium';
    color: #333e63;
}
.rsl-dv1spn {
    display: block;
    font-family: 'Circular-Book';
    font-size: 16px;
    margin-top: -18px;
}
.rsl-dv2 {
    height: 150px !important;
    width: 150px !important;
}
.rsl-dv3 {
    margin: 30px 0 0 0;
}
.rsl-dv3-h3 {
    color: #333e63;
    font-size: 28px;
    font-family: 'Circular-Medium';
}
.rsl-dv4 {
    color: #333e63;
    font-size: 14px;
    font-family: 'Circular-Book';
}
#rslttblcs {
    box-shadow: none;
}
#rslttblcs thead tr th:nth-child(1) {
    width: 50%;
    padding-left: 0;
}
#rslttblcs thead tr th {
    padding: 0 15px 10px;
    font-size: 14px;
    font-family: 'Circular-Medium';
    font-weight: 100;
    color: #9ea6c1;
}
#rslttblcs tbody tr td:nth-child(1) {
    width: 50%;
    padding-left: 0;
}
#rslttblcs tbody tr td {
    padding: 15px;
    font-family: 'Circular-Medium';
    font-size: 14px;
}
.brdr-btm1 {
    border-bottom: 1px solid #eee
}
.rsltgrnclr {
    color: #2fc991;
}
.rsltredclr {
    color: #eb1337;
}
.rsltlytbluclr {
    color: #9ea6c1;
}
.rsl-cstmmbslct {
    margin-bottom: 5%;
}
.rsltblthdthcs {
    white-space: nowrap;
    left: 41px;
    top: 147px;
    cursor: default;
    text-align: center;
    padding-left: 12px !important;
    transform: rotate(270deg);
    transform-origin: 34% 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rsltcstmtbll2 {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    height: 380px;
    width: 970px;
}
.rsltcstmtbll2 tbody {
    height: inherit;
    overflow: hidden;
}
.rslt-tbldv1 {
    display: flex;
}
.rslt-tbldv2 {
    width: 80%;
}
.rslt-tbldv2-2 {
    margin-top: 88px;
    padding-top: 14px;
    padding-bottom: 8px;
    width: 100%;
}
.rslt-tbldv2-3:nth-child(1) {
    border-top: 1px solid rgb(221, 221, 221);
}
.rslt-tbldv2-3 {
    padding: 16px;
    height: 75px;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
}
.rslt-tbldv2-4 {
    font-weight: 100;
    font-family: 'Circular-Medium';
    text-transform: none;
    letter-spacing: normal;
    color: #333e63;
}
table.rslt-tbldv3tbl {
    border-collapse: collapse;
    width: 400px;
    height: 530px;
    box-shadow: none;
    border: none;
    overflow-x: auto;
    max-height: 43em;
    overflow-y: hidden;
    display: block;
  }
    
.rslt-tbldv3tbl thead, tbody {
    display: block;
  }
  
table#rslttblcs2.rslt-tbldv3tbl tbody {
    overflow: scroll;
    max-height: 44em;
    max-width: 400px;
    height: 41.6em;
}
  
table.rslt-tbldv3tbl thead tr {
    background-color: #fff;
}
table.rslt-tbldv3tbl tbody tr:nth-child(1) td {
    padding-bottom: 7px;
    padding-top: 0;
    font-size: 14px;
    font-family: 'Circular-Medium';
    font-weight: 100;
    color: #9ea6c1;
}
table.rslt-tbldv3tbl tbody tr td {
    width: 80px;
    min-width: 80px;
    padding: 26px 15px;
    height: 74px;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    text-align: left;
}
table.rslt-tbldv3tbl .rslt-tbldv3tblthddv {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    min-height: 133px;
}
table.rslt-tbldv3tbl tbody tr {
    border-bottom: 1px solid #ddd;
}
.rslttbl3 table {
    table-layout: fixed; 
    width: auto;
    box-shadow: none;
    border: none;
    *margin-left: -100px; /*ie7*/
  }
  .rslttbl3 tr {
    height: 66px;
  }
  .rslttbl3 td, .rslttbl3 th {
    border-top: 1px solid rgb(221, 221, 221);
    padding: 10px;
    width: 70px;
  }
  .rslttbl3 .nobrdr {   
    border: none !important;
  }
  .rslttbl3 .fix {
    position: absolute;
    margin-left: -688px;
    width: 71%;
    min-height: 66px;
    border-bottom-color: rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
  }
  .rslttbl3 .outer {
    position: relative;
  }
  .rslttbl3 .inner {
    overflow-x: scroll;
    overflow-y: visible;
    width: 29%;
    margin-left: 688px;
  }
  .rslttbl3 tr td:last-child {
    border-right: 1px solid rgb(221, 221, 221);
  }
  .rslttbl3 tr:last-child, .rslttbl3 tr:last-child th.fix {
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .rslttbl3 .rslt-tbldv3tblthddv {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    min-height: 86px;
    font-size: 14px;
    font-family: 'Circular-Medium';
    font-weight: 100;
    color: #9ea6c1;
  }
  .rsltblslmbcs {
    margin-bottom: 2.2rem !important;
  }
  .rslttbldv4 {
    font-size: 14px;
    font-family: 'Circular-Medium';
    font-weight: 100;
    color: #9ea6c1;
  }
  .rslt-cspltddt {
    padding-left: 23px !important;
  }
  .rslt-tbltdclr01 {
    background-color: #eb1337;
    color: #fff;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbltdclr02 {
    background-color: #fdecef;
    color: #eb1337;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbltdclr03 {
    background-color: #fff;
    color: #9ea6c1;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbltdclr04 {
    background-color: #effbf6;
    color: #2fc991;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbltdclr05 {
    background-color: #2fc991;
    color: #fff;
    border: 1px solid rgb(221, 221, 221);
  }
  .rslt-tbl-dvv1 {
    font-size: 14px;
    font-family: 'Circular-Medium';
  }
  .rslttbl3cstmfx {
    padding-left: 15px !important;
    padding-top: 22px !important;
  }
  .rslttblslctt {
    font-weight: 100;
    font-family: 'Circular-Book';
  }
  .rslttbl3cstmfx2 {
    padding-left: 15px !important;
  }
  .mb-csrslbtmm {
    margin-bottom: 1.4rem!important;
  }
  #rslttblcs.rslttblcsvll thead tr th {
    color: #333e63;
    font-size: 16px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  #rslttblcs.rslttblcsvll tbody tr td {
    padding: 25px 15px;
  }
  #rslttblcs.rslttblcsvll tbody tr td:nth-child(1) {
    color: #333e63;
    opacity: 0.7;
    font-family: 'Circular-Medium';
  }
  .dark-red.dark-red {
    background-color: #eb1337;
    color: white;
  }
  .rsltylwclr.rsltylwclr {
    color: #ffc44f;
  }
  .dark-ylw.dark-ylw {
    background-color: #ffc44f;
    color: white;
  }
  #rslttblcs.rslttblcsvll2 tbody tr td {
    padding: 25px 15px 25px 0;
  }
  .rsltdtlsdvv1 {
    font-family: 'Circular-Medium';
    font-size: 18px;
    color: #333e63;
  }
  .rsltdtlsdvv1btn {
    height: 22px;
    margin: 5px 0 0 15px;
  }
  .rsltdtlmdlcs.rsltdtlmdlcs {
    margin-top: 5% !important;
  }
  .rsltdtlmdlcs.rsltdtlmdlcs .modal-dialog {
    max-width: 1111px;
    margin: 1.75rem auto;
  }
  .rsltmdltbmaindv1 {
    height: 450px;
  }
  .rsltmdltbdv1 {
    min-width: 360px;
    background-color: #f4f7fb;
    height: 100%;
    height: 450px;
    overflow: auto;
  }
  .rsltmdltbdv2 {
    padding-top: 20px;
    padding-left: 32px;
    padding-bottom: 10px;
    min-height: 100%;
  }
  .rsltmdltbdv2h2 {
    font-size: 21px;
    line-height: 1.14;
    letter-spacing: -.7px;
    margin-top: 0;
    margin-bottom: 27px;
    font-family: 'Circular-Medium';
    color: #333e63;
  }
  .rsltmdltbdv2ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .rsltmdltbdv2ul li {
    list-style-type: none;
  }
  .rsltmdltbdv2ul .react-tabs__tab--selected {
    position: relative;
  }
  .rsltmdltbdv2ul .react-tabs__tab--selected::after {
    content: "";
    background-color: #54d4f2;
    position: absolute;
    right: 0;
    width: 2px;
    top: -4px;
    bottom: -4px;
  }
  .rsltmdltbdv2ulbtn {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    margin-bottom: 19px;
    padding: 0 24px 0 0;
    cursor: pointer;
  }
  .rsltmdltbdv2ulbtndv1 {
    display: flex;
  }
  .rsltmdltbdv2ulbtndv2 {
    margin-top: 3px;
    min-width: 48px;
    width: 48px;
    min-height: 48px;
    height: 48px;
    margin-right: 25px;
    box-shadow: none;
    background-size: 50% auto;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url('/public/Images/topics-img.svg');
  }
  .rsltmdltbdv2ulbtndv2svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .rsltmdltbdv2ulbtndv2svgpth1 {
    stroke: transparent;
    stroke-linecap: round;
    stroke-dasharray: 301.593px, 301.593px;
    stroke-dashoffset: 0px;
  }
  .rsltmdltbdv2ulbtndv2svgpth2 {
    stroke-linecap: round;
    transition-duration: 0.5s;
    stroke-dasharray: 301.593px, 301.593px;
    stroke-dashoffset: 241.274px;
    stroke: #54d4f2;
  }
  .rsltmdltbdv2ulbtndv3-1 {
    flex-grow: 1;
  }
  .rsltmdltbdv2ulbtndv3-2 {
    margin-bottom: 1px;
  }
  .rsltmdltbdv2ulbtndv3-h4 {
    font-size: 17px;
    line-height: 1.88;
    letter-spacing: -.4px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Circular-Bold';
    color: #333e63;
  }
  .rsltmdltbdv2ulbtndv3-p {
    font-size: 15px !important;
    font-family: 'Circular-Medium';
    line-height: 1.6;
    letter-spacing: .2px;
    white-space: nowrap;
    margin: 0 0 1rem;
    color: #333e63;
  }
  .rsltmdltbdv2ulbtndv3-pspn {
    font-family: 'Circular-Book';
    color: #9ca2b4;
  }
  .rsltmdltbdv2dv1 {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
  }
  .rsltmdltbdv2dv1 {
    width: calc( 100% - 400px);
  }
  .rsltmdltbdv2dv3 {
    padding: 64px 72px;
    min-height: 100%;
    height: 450px;
    overflow-y: auto;
  }
  .rsltmdltbdv2dv4 {
    display: flex;
  }
  .rsltmdltbdv2dv4-d1 {
    margin-top: 3px;
    margin-right: 32px;
    position: relative;
    background-color: #fff;
    min-width: 64px;
    width: 64px;
    min-height: 64px;
    height: 64px;
    box-shadow: 0 8px 24px rgb(51 62 99 / 8%), 0 2px 4px rgb(174 174 187 / 24%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url('/public/Images/topics-img.svg');
  }
  .rsltmdltbdv2dv4-dv2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  .rsltmdltbdv2dv4-dv2-a1 {
    padding-right: 15px;
    flex-grow: 1;
  }
  .rsltmdltbdv2dv4-dv2-a2 {
    padding-bottom: 0 !important;
    white-space: nowrap;
    font-size: 15px !important;
    font-family: 'Circular-Bold' !important;
    margin: 0 0 1rem;
    line-height: 1.6 !important;
    letter-spacing: .2px !important;
    margin-bottom: -5px !important;
  }
  .rsltmdltbdv2dv4-dv2-a2spn {
    font-family: 'Circular-Book';
    color: #9ca2b4;
  }
  .rsltmdltbdv2dv4-dv2-a11 {
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
  .rsltmdltbdv2dv4-dv2-a11h4 {
    font-size: 28px;
    line-height: 1.37;
    letter-spacing: -1.4px;
    text-align: left;
    margin-bottom: 0;
    font-weight: 100;
    font-family: 'Circular-Bold';
    color: #333e63;
  }
  .rsltmdltbdv2dv4-dv2-a12 {
    min-width: 306px;
    max-width: 100%;
    position: relative;
    display: flex;
    background-color: #f4f7fb;
    height: 4px;
    border-radius: 2px;
    margin-bottom: 16px;
  }
  .bluclrr {
    background-color: #54d4f2;
    color: #fff;
  }
  .rsltmdltbdv2dv5 {
    padding-top: 41px;
  }
  .rsltmdltbdv2dv5-1 {
    font-size: 17px;
    line-height: 1.41;
    color: #7a829a;
    margin-bottom: 25px;
  }
  .rsltmdltbdv2dv5-2h3 {
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: -.8px;
    margin-bottom: 28px;
    margin-top: 0;
    font-family: 'Circular-Bold';
    color: #333e63;
  }
  .rsltmdltbdv2dv5-2d2 {
    box-shadow: 0 6px 24px rgb(174 174 186 / 16%);
    padding: 18px 23px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .rsltmdltbdv2dv5-2d3 {
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: -.4px;
    margin-bottom: 10px;
    font-family: 'Circular-Medium';
    color: #333e63;
  }
  .rsltmdltbdv2dv5-2d3p {
    font-size: 15px !important;
    line-height: 1.6 !important;
    letter-spacing: .176471px !important;
    color: #7a829a !important;
    margin-bottom: 24px;
    flex-grow: 1;
  }
  .rsltmdlqsclrhglght01 {
    background-color: #ff5745;
    padding: 6px;
    height: 10px;
    border-radius: 50%;
    width: 10px;
    display: block;
    margin: 5px;
  }
  .rsltmdlqsclrhglght02 {
    background-color: #123466;
    padding: 6px;
    height: 10px;
    border-radius: 50%;
    width: 10px;
    display: block;
    margin: 5px;
  }
  .rsltmdlqsclrhglght03 {
    background-color: #54d4f2;
    padding: 6px;
    height: 10px;
    border-radius: 50%;
    width: 10px;
    display: block;
    margin: 5px;
  }
  .rsltmdlqsclrtxt {
    font-family: 'Circular-Medium';
    color: #333e63;
    font-size: 14px;
   }
   .bg-prgrscsmm {
    color: #fff;
    font-size: 14px;
    font-family: 'Circular-Bold';
    font-weight: 100;
   }
   .bg-prgrs-klrss1.bg-prgrs-klrss1 {
    background-color: #ff5745;
   }
   .bg-prgrs-klrss2.bg-prgrs-klrss2 {
    background-color: #123466;
   }
   .bg-prgrs-klrss3.bg-prgrs-klrss3 {
    background-color: #54d4f2;
   }
   .bg-prgrs-klrss4.bg-prgrs-klrss4 {
    background-color: #ff9300;
   }
   .bg-prgrs-klrss5.bg-prgrs-klrss5 {
    background-color: #f282d9;
   }
   .bg-prgrs-klrss1.bg-prgrs-klrss6 {
    background-color: #76d895;
   }
   .prgrs-orngclr.prgrs-orngclr {
    background-color: #ff5745 !important;
    color: #fff;
    font-size: 14px;
    font-family: 'Circular-Bold';
    font-weight: 100;
   }
   
   .prgrs-drkbluclr.prgrs-drkbluclr {
    background-color: #123466 !important;
    color: #fff;
    font-size: 14px;
    font-family: 'Circular-Bold';
    font-weight: 100;
   }
   .prgrs-lytbluclr.prgrs-lytbluclr {
    background-color: #54d4f2 !important;
    color: #fff;
    font-size: 14px;
    font-family: 'Circular-Bold';
    font-weight: 100;
   }
   .rsltmdltbdv2dv5-2d4 .progress.progress {
    height: 20px;
   }
   .rsltmdltbdv2dv5-2d6 {
    text-align: center;
    justify-content: center;
   }
   .mdlclssvgg {
    visibility: visible;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
   }
   .rsltmdlclss .btn-close {
      height: 55px;
      width: 40px;
      opacity: 0;
      right: 5px;
   }
   .rsltmdltbdvclshd {
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(102, 102, 102);
    font-family: 'Circular-Medium';
    letter-spacing: 0.2px;
   }
   .rsl-dv3-faicngrn {
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: -5px;
    color: #48cd89;
   }
   .rsl-dv3-faicnred {
    font-size: 14px;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: -5px;
    color: #eb1337;
   }
.cstmmcrsll.cstmmcrsll .carousel-indicators {
  display: none !important;
}
.cstmmcrsll.cstmmcrsll .carousel-control-prev span.visually-hidden {
  display: none !important;
}
.cstmmcrsll.cstmmcrsll .carousel-control-prev {
  right: 0;
  left: calc(50% - 80px);
  display: block;
  width: 5%;
  height: 25px;
  top: -37px;
  cursor: auto !important;
  opacity: 1 !important;
}
.cstmmcrsll.cstmmcrsll .carousel-control-prev:hover {
  background-color: transparent !important;
}
.cstmmcrsll.cstmmcrsll .carousel-control-next {
  right: 0;
  left: calc(85% - 85px);
  display: block;
  width: 5%;
  height: 25px;
  text-align: left;
  top: -37px;
  cursor: auto !important;
  opacity: 1 !important;
}
.cstmmcrsll.cstmmcrsll .carousel-control-next:hover {
  background-color: transparent !important;
}
.cstmmcrsll.cstmmcrsll .carousel-control-prev span.carousel-control-prev-icon {
  background-image: url('/public/Images/long-arroww.png');
  background-repeat: no-repeat;
  background-size: 10px;
  background-color: transparent;
  cursor: pointer;
  transform: rotate(270deg);
  margin-top: 5px;
}
.cstmmcrsll.cstmmcrsll .carousel-control-prev span.carousel-control-prev-icon:hover {
  opacity: 0.7;
}
.cstmmcrsll.cstmmcrsll .carousel-control-next span.carousel-control-next-icon {
  background-image: url('/public/Images/long-arroww.png');
  background-repeat: no-repeat;
  background-size: 10px;
  background-color: transparent;
  cursor: pointer;
  transform: rotate(90deg);
  margin-top: 5px;
}
.cstmmcrsll.cstmmcrsll .carousel-control-next span.carousel-control-next-icon:hover {
  opacity: 0.7;
}
.mt-10px.mt-10px {
  margin-top: 10px !important;
}
.rsltmdltbdv2dv5-2d3csh55.rsltmdltbdv2dv5-2d3csh55 {
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing: normal;
  color: #54d4f2;
  top: -30px;
}
.rslttblhtbdyy {
  max-height: 330px;
  height: auto;
  overflow-y: auto;
}
.rslttblhtbdyy2 {
  max-height: 295px;
  height: auto;
  overflow-y: auto;
}
.rsthvrbtnaa:hover {
  opacity: 0.9;
}
.rslt-btnhvrdsb.rslt-btnhvrdsb:hover {
  box-shadow: none !important;
}
.cstm--bxx {
  justify-content: center;
}
.rslt-btnhvrdsb {
  border-radius: 2px;
  margin: 0 5px;
}