.progress, .progress-bar {
    border-radius: 0 !important;
}

.clr-drkbl {
    color: rgba(51,62,99,0.86);
}

.fs-20px {
    font-size: 20px !important;
}

.box-shadow-4 .box.bxshdwbr.bxshdwbr {
    box-shadow: 0 4px 20px 0 rgba(174,174,186,0.16) !important;
    border: 1px solid rgba(228,231,235,0.62) !important;
}

.mt-0.mt-0.mt-0.mt-0 {
    margin-top: 0 !important;
}

.ahover.ahover {
    color: #009bc0;
    font-size: 14px;
}

    .ahover.ahover:hover {
        opacity: 0.8;
        text-decoration: underline;
    }

#survytbl  .table > thead > tr > th {
    /* border: none !important; */
    padding: 1.2rem;
    border-bottom: 1px solid #dee2e6 !important;
}
#survytbl  .table > tbody > tr > td {
    padding: 1.2rem;
}

#survytbl .table {
    border: 1px solid rgba(228,231,235,0.62);
    border-bottom: none;
    box-shadow: none;
}

.srvycstmbxhdr {
    padding: 0;
    line-height: inherit;
    margin: 0;
}

.srvycstmbxhdrclrgrnbg {
    background-color: rgb(0, 191, 111);
    color: white;
}

.p-0-20px {
    padding: 0 20px !important;
}

.srvycstmbxhdr .accordion-button {
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 14px 15px 10px;
}

.srvycstmbxhdr .accordion-button[aria-expanded="true"] .nav-caret i.fa-chevron-down {
    transform: rotate(180deg);
    transition: 0.5s;
}

.srvycstmbxhdr .accordion-button[aria-expanded="true"] span.fa-chevron-down {
    transform: rotate(180deg);
    transition: 0.5s;
}

#survydtlstbl .dropdown-toggle, #survytbl .dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
}

#survydtlstbl .dropdown-toggle:hover, #survytbl .dropdown-toggle:hover, #survydtlstbl .dropdown-toggle:focus, #survytbl .dropdown-toggle:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

#survytbl .dropdown-toggle::after, #survydtlstbl .dropdown-toggle::after {
    content: none !important;
}

#survytbl .dropdown-menu, #survydtlstbl .dropdown-menu {
    padding: 0 !important;
    border-radius: 2px !important;
}

#survytbl .dropdown-item, #survydtlstbl .dropdown-item {
    padding: 10px 1.5rem !important;
}

.pb-6px {
    padding-bottom: 6px !important;
}

.pdcstmm {
    padding: 0.5rem 1.5rem;
}

.nav-caret {
    margin-top: 5px;
}

.mb--10px {
    margin-bottom: -10px !important;
}

.custom-selecttsrvy.custom-selecttsrvy {
    height: auto !important;
}

.cstmsrvyslct-cstm1.cstmsrvyslct-cstm1 {
    padding: 10px !important;
    font-size: 14px;
    cursor: pointer;
    height: auto !important;
    border: 1px solid #ddd;
    box-shadow: none !important;
}

.srvydvvddv1 {
    margin-top: 12%;
    width: 70%;
    margin-left: 10%;
}

/* .srvydvvddv2 {
    display: flex;
} */

.srvydvvddv3 {
    font-size: 80px;
    color: #333e63;
    font-family: 'Circular-Medium';
}

.srvydvvddv4 {
    margin: 5px 0 0 5px;
}

.srvydvvddv5 {
    font-size: 16px; color: rgb(51, 62, 99);
}

.mnht-215px.mnht-215px {
    min-height: 215px !important;
}

.wdth-ipdwvw-cs22.wdth-ipdwvw-cs22 {
    background: url(https://res.cloudinary.com/infoi/image/upload/q_auto/v1634636870/Dashboard/bg-titlecard-bottom-right-corner_axxdyk.png) bottom right/85px 100px no-repeat #FFF;
}

.wdth-ipdwvw-csdvd22.wdth-ipdwvw-csdvd22 {
    width: 80%;
    padding-top: 4%;
    padding-left: 4%;
}

.wdth-ipdwvw-csdvd22.wdth-ipdwvw-csdvd22 h1, .wdth-ipdwvw-csdvd22.wdth-ipdwvw-csdvd22 p {
    color: #333e63;
}

#divLoader {
    width: 60px;
    height: 60px;
    border-radius: 150px;
    border: 3px solid #333e63;
    border-top-color: #eee;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 51.4%;
    margin-top: -40px;
    margin-left: -40px;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;
}

.mt-5p {
    margin-top: 5%;
}

.srvdvvdvd1 {
    margin: 0px 100px 0 48px;
}

.srvdvvdvspn {
    background-color: #333e6324;
    color: #333e63;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px;
}

.mt-cstmdrpdwnn {
    margin-top: 2.3rem;
}

#nwsrvytbblll .srvytblprgbrsvdv .prgrs-wd-cstm.prgrs-wd-cstm {
    width: 70%;
}

.crsr-auto.crsr-auto {
    cursor: auto !important;
}

.stngdvbtn1csbgcld.stngdvbtn1csbgcld {
    background-color: #ff5745 !important;
    opacity: 1 !important;
    color: #fff !important;
}
.stngdvbtn1csbgcld.stngdvbtn1csbgcld:hover {
    opacity: 0.9 !important;
}

.bgwhite.bgwhite.bgwhite.bgwhite {
    background-color: #fff !important;
}

.hdngbgcstm {
    background-color: rgb(249 250 251) !important;
}

.hdngbgcstm .ssrvydvhdng2.srvynwdvh4 {    
    font-size: 17px;
    font-weight: 100;
    font-family: 'Circular-Medium';
    margin: 0 0 4px;
    width: 100%;
}

.srvyrunerrtxt {
    color: red;
    font-family: 'Circular-Book';
    font-size: 14px;
    margin-bottom: 4%;
}

.dsbbtnnclr.dsbbtnnclr {
    background-color: #ddd !important;
    cursor: no-drop !important;
    color: #a7a7a7 !important;
}

.wd-80p.wd-80p {
    width: 80% !important;
}

.ht-220px.ht-220px {
    height: 220px !important;
}

@keyframes loading {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@media (min-width: 1150px) {
    .tab-pane {
        padding: 1.2rem 10.8rem 0 11.8rem;
    }
}